{% extends 'basic.html' %}
{% block title %}Mongerr | My Cart{% endblock %}
{% block css %}
<style>
  .container {
    min-height: 700px;
  }

  .navbar-custom {
    background-color: #b30000;
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link,
  .navbar-custom .btn,
  .navbar-custom .navbar-text {
    color: white;
  }

  .rounded-circle {
    padding: 15px;
  }

  .col-sm-3 {
    display: inline-block;
    padding: 5px;
  }

  .card-text {
    font-size: 12px;
    padding-top: 0px;
  }

  .row {
    padding: 5px;
  }

  .minus,
  .plus {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  table,
  th,
  td {
    border: 1px solid #f0f5f5;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border-color: white;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .fas {
    color: #dc3545;
    font-size: 20px;
  }

  @media (max-width: 700px) {}
</style>
{% endblock %}
{% block body %}
{% load static %}
<!-- BreadCrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cart</li>
  </ol>
</nav>

<!-- CartView -->
<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-md-8 mb-5">
      <h5><b>My Shopping Cart</b></h5>
      <div class="mt-4">
        <table id="items" style="width:100%">
          <tr>
            <th></th>
            <th>Item</th>
            <th style="text-align: center;">Qty</th>
            <th style="text-align: center;"></th>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-12 col-md-4" style="border: 1px solid #f0f5f5;">
      <h5 class="mt-2" style="font-size: 15px; color: grey"><b>PRICE DETAILS</b></h5>
      <p>Cart Total<span id="cartTotal" style="float:right;">-</span></p>
      <hr>
      <a href="{% url 'checkout' %}"><button class="btn btn-danger btn-sm float-right checkout">Place Order</button></a>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }

  updateTotal();
  function updateTotal() {
    var sum = 0;
    for (item in cart) {
      let qty = cart[item][0];
      let price = cart[item][3];
      prodprice = parseInt(price.slice(3,));
      sum = sum + prodprice * parseInt(qty);
      document.getElementById('cartTotal').innerHTML = "Rs." + sum;
    }
  }

  if ($.isEmptyObject(cart)) {
    mystr = `<h4 style="text-align: center; color: #e6e6e6">Cart is Empty</h4>`;
    $('#items').append(mystr);
  }
  else {
    for (item in cart) {
      let name = cart[item][1];
      let qty = cart[item][0];
      let imgsrc = cart[item][2];
      let price = cart[item][3];
      mystr = `<tr><td style="text-align: center;"><img src="${imgsrc}" height="80px" width="60px"></td><td>${name}<br>${price}</td>
        <td style="text-align: center;"><span class="divpr"><button id="minus${item}" class="btn btn-outline-primary btn-sm minus">-</button>
        <span id="val${item}">${qty}</span><button id="plus${item}" class="btn btn-outline-primary btn-sm plus">+</button></span></td>
        <td style="text-align: center;"><a href="{% url 'cartview' %}"><i class="fas fa-trash remove" id="remove${item}"></i></a></td></tr>`
      $('#items').append(mystr);
    }
  }

  //if plus minus btn is clicked
  $('.divpr').on("click", "button.minus", function () {
    a = this.id.slice(7,);
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(1, cart['pr' + a][0])
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    localStorage.setItem('cart', JSON.stringify(cart));
    updateTotal();
    checkForEmptyCart();
  })
  $('.divpr').on("click", "button.plus", function () {
    a = this.id.slice(6,);
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    localStorage.setItem('cart', JSON.stringify(cart));
    updateTotal();
    checkForEmptyCart();
  })

  //remove an item
  $('.remove').click(function () {
    var tempCart = {};
    temp = this.id.slice(6,);

    for (item in cart) {
      if (item != temp) {
        tempCart[item] = [cart[item][0], cart[item][1], cart[item][2], cart[item][3]];
      }
    }
    localStorage.setItem('cart', JSON.stringify(tempCart));
    updateTotal();
    checkForEmptyCart();
  });
</script>
{% endblock %}