{% extends 'basic.html' %}

{% block title %}Buy {{ product.brand }} {{ product.product_name }} | CuddlesForKids{% endblock %}

{% block css %}
<style>
  .container {
    min-height: 700px;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border-color: white;
  }

  .navbar-custom {
    background-color: #809fff;
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link,
  .navbar-custom .btn,
  .navbar-custom .navbar-text {
    color: white;
  }

  p {
    margin-top: -10px;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
</style>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% if bVal == 'Boys' %}
    <li class="breadcrumb-item"><a href="{% url 'boys' %}">{{ bVal }}</a></li>
    {% elif bVal == 'Girls' %}
    <li class="breadcrumb-item"><a href="{% url 'girls' %}">{{ bVal }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ product.product_name }}</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="img" id="img{{ product.id }}" src="/media/{{ product.image }}" alt="">
    </div>
    <div class="col-md-8 my-5">
      <h4><b>{{ product.brand }}</b></h4>
      <p id="prname" style="color: #8c8c8c; font-size: 20px">{{ product.product_name }}</p>
      <p id="price" style="font-size: 20px; font-weight: bold;">Rs.{{ product.price }}</p>
      <p style="color: #00cc66"><b>inclusive of all taxes</b></p><br>
      <button id="pr{{ product.id }}" class="btn btn-outline-primary btn-lg cart">Add to Cart</button>
      <hr>
      <p style="font-size: 15px"><b>PRODUCT DETAILS</b></p>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }

  //incrementing cart items
  $('.cart').click(function () {
    var idstr = this.id.toString();
    var image = document.getElementsByClassName('img');
    var imgsrc = image[0].src;
    qty = 1;
    name = document.getElementById('prname').innerHTML;
    price = document.getElementById('price').innerHTML;
    cart[idstr] = [qty, name, imgsrc, price];
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    console.log(cart)

    document.getElementById(idstr).innerHTML = 'Added'
    document.getElementById(idstr).disabled = true;
  });
</script>
{% endblock %}