{% extends 'basic.html' %}
{% block title %}Mongerr | Thrift Store{% endblock %}
{% block css %}
<style>
  .container {
    min-height: 700px;
  }

  .navbar-custom {
    background-color: #b30000;
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link,
  .navbar-custom .btn,
  .navbar-custom .navbar-text {
    color: white;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border-color: white;
  }

  .rounded-circle {
    padding: 15px;
  }

  .col-sm-3 {
    display: inline-block;
    padding: 5px;
  }

  .card-text {
    font-size: 12px;
    padding-top: 0px;
  }

  .card:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .row {
    padding: 5px;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .filter {
    color: black;
  }

  @media (max-width: 700px) {
    button {
      font-size: 12px;
    }
  }

  @media (min-width: 701px) {
    button {
      font-size: 15px;
    }
  }
</style>
{% endblock %}
{% block body %}
{% load static %}
<!-- BreadCrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thrift Store</li>
  </ol>
</nav>
<!-- Products -->
<div class="container mb-5">
  <div class="row d-flex justify-content-end">
    <div>
      <form id="filterform" action="{% url 'thrift' %}" method="post"> {% csrf_token %}
        <input type="hidden" id="priceFilter" name="priceFilter" value="{{ priceFilter }}">
        <select class="form-control" id="filterDrop" onchange="filter(this.value)">
          <option>Default</option>
          <option class="LTH" value="LTH">Price-- Low to High</option>
          <option class="HTL" value="HTL">Price-- High to Low</option>
        </select>
      </form>
    </div>
  </div>
  <div class="row" align="center">
    {% for i in products %}
    <div class="col-12 col-sm-4 col-lg-3 mt-3">
      <div class="card" style="width: 14rem;">
        <img src="/media/{{ i.image }}" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <p class="card-title"><b>{{ i.brand }}</b></p>
          <p class="card-text">{{ i.product_name }}<br><b>Rs.{{ i.price }}</b></p>
          <hr>
          <form action="/products/{{ i.id }}" method="post"> {% csrf_token %}
            <button id="qv{{ i.id }}" name="Thrift" value="Thrift" class="btn btn-outline-warning btn-sm cart my-2">View
              Product</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }

  if (document.getElementById('priceFilter').value == 'LTH') {
    document.getElementById("filterDrop").selectedIndex = 1;
  }
  if (document.getElementById('priceFilter').value == 'HTL') {
    document.getElementById("filterDrop").selectedIndex = 2;
  }
  function filter(val) {
    document.getElementById("priceFilter").value = val;
    document.getElementById('filterform').submit();
  }
</script>
{% endblock %}